.workList {
    .keyFigures {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-super-large);
    }

    .contactDetails {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-super-large);
    }
}