.workList {
    .keyFigures {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-super-large);
    }

    .contactDetails {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-super-large);
    }

    .value {
        color: var(--color-primary);
        font-size: var(--font-size-medium);
    }
}