.keyFigures {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-super-large);
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super-large);
    padding: 3rem 0 0 0;
}

.careerContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-extra-large);

    .vacancies {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);

        >* {
            width: 23rem;
        }
    }

    .noVacancies {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        color: var(--color-text-dark-gray);
        gap: var(--spacing-small);
    }
}

.collageContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    .imageContainer {
        display: flex;
        gap: var(--spacing-large);

        .largeImg {
            display: grid;
            flex-basis: 66.5%;
            flex-shrink: 0;
            border-radius: var(--radius-card);
            width: 50%;
            height: 20rem;
            overflow: hidden;
            object-fit: cover;
            object-position: center;
        }

        .mediumImg {
            display: grid;
            flex-basis: 49%;
            flex-shrink: 0;
            border-radius: var(--radius-card);
            width: 100%;
            height: 20rem;
            overflow: hidden;
            object-fit: cover;
            object-position: center;
        }

        .smallImg {
            display: grid;
            flex-basis: 100%;
            border-radius: var(--radius-card);
            height: 20rem;
            overflow: hidden;
            object-fit: cover;
            gap: 0;
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            gap: var(--spacing-medium);


            .smallImg {
                width: 100%;
            }

            .mediumImg {
                width: 100%;
            }

            .largeImg {
                width: 100%;
            }

            &:nth-child(even) {
                flex-direction: column;
            }
        }
    }
}

.bottomSection {
    background-image: url('/rectangle-pattern.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 20rem;
        gap: var(--spacing-large);
        text-align: center;
    }
}