.workListSection {
    background-color: var(--color-header-light);

    .workSection {
        display: flex;
        position: relative;
        width: 87%;

        .workDescription {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: calc(var(--spacing-super-small)*7);
            height: 35rem;

            @media screen and (max-width: 1300px) {
                align-items: flex-start;
                padding: calc(var(--spacing-super-small)*2);
            }

            .workDescription {
                width: 70%;
                line-height: 1.5;
                color: var(--color-text-on-light);
                font-size: var(--font-size-super-large);
                font-weight: var(--font-weight-normal);
                gap: var(--spacing-super-small);

                @media screen and (max-width: 1300px) {
                    width: 100%;
                    font-size: var(--font-size-extra-large);
                }

                .workList {
                    justify-content: center;
                    color: var(--color-primary);
                    font-size: var(--font-size-mid-medium);
                    font-weight: var(--font-weight-medium);
                }
            }
        }
        .workImage {
            position: absolute;
            right: 0;
            margin-top: calc(var(--spacing-super-small)*9);

            @media screen and (max-width: 1300px) {
                margin-top: calc(var(--spacing-super-small)*26);
                height: auto;
            }
        }
    }
}

.expertiseSection {
    .expertiseHeading {
        color: var(--color-primary);
        font-size: var(--font-size-large);
    }

    .expertiseSubheading {
        width: 60%;
        color: var(--color-text-dark);
        font-size: var(--font-size-large);

        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }
}

.expertiseDetail {
    background-color: var(--color-background-light);

    .expertiseDescription {
        margin: calc(var(--spacing-super-small)*2) calc(var(--spacing-super-small)*2) calc(var(--spacing-super-small)*2) 0;
        border-radius: calc(var(--spacing-super-small)/2);
        background-color: var(--color-text-on-dark);
        padding: calc(var(--spacing-super-small)*2);

        .expertiseTitle{
            padding: calc(var(--spacing-super-small)/3);
            color: var(--color-text);
            font-weight: var(--font-weight-medium);
        }

        .iconDescription {
            display: flex;
            flex-direction: column;
            padding: calc(var(--spacing-super-small)/2);
            color: var(--color-text);
        }
    }
}

.approachSection {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--spacing-super-small)*5);
    background-color: var(--color-background);
    gap: var(--spacing-super-small);

    .approachHeading {
        color: var(--color-primary);
        font-size: var(--font-size-large);
    }

    .approachSubheading {
        width: 65%;
        color: var(--color-text-dark);
        font-size: var(--font-size-large);

        @media screen and (max-width: 1200px) { 
            width: 100%;
        }
    }

    .approachDescription {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1200px) { 
            flex-direction: column;
        }

        .description {
            width: 50%;

            @media screen and (max-width: 1200px) { 
                width: 100%;
            }
        }
    }
}

.researchModal {
    display: flex;
    flex: 1;
    flex-direction: column;
    transition: all 200ms ease;
    margin: var(--spacing-super-small);
    border-style: solid;
    border-radius: var(--spacing-super-small);
    border-color: var(--color-border-light);
    background-color: var(--color-text-on-dark);
    cursor: pointer;

    @media screen and (max-width: 600px) {
        margin: var(--spacing-super-small);
    }

    .modalImage {
        width: 100%;
        object-fit: fill;
    }

    .modalHeading {
        margin: var(--spacing-super-small);
        color: var(--color-text-dark);
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-medium);
    }

    .modalDescription {
        display: inline-block;
        margin: var(--spacing-super-small);
        max-height: 3.6em;
        overflow: hidden; 
        text-overflow: ellipsis;
        line-height: 1.7em;
        word-wrap: break-word;
        color: var(--color-text);
        font-size: var(--font-size-small);
    }

    .modalTitle {
        display: flex;
        justify-content: flex-start;
        margin: auto 0 var(--spacing-super-small) var(--spacing-super-small);
        color: var(--color-text-light);
    }

    &:hover {
        transform: scale(1.03);
        box-shadow: 1px 3px 8px #000;
    }
}
