.serviceSection {
    background-color: var(--color-background-dark);

    .researchSection {
        display: flex;
        justify-content: flex-end;

        .researchDescription {
            display:flex;
            flex-direction: column;
            height: 30rem;
            justify-content: center;
            align-items: flex-start;
            margin: calc(var(--spacing)*2);
            
            .research {
                color: var(--color-primary);
                font-size: var(--font-size-medium);
                font-weight: var(--font-weight-medium);
            }

            .serviceDescription {
                width: 60%;
                color: var(--color-text-dark);
                font-size: var(--font-size-super-large);
                font-weight: var(--font-weight-normal);
            }
        }

        .researchImage {
            display:flex;
            position: absolute;
            margin-top: calc(var(--spacing)*5);
        }
    }
}

.expertiseSection {
    background-color: var(--color-background-light);
    width: 100%;

    .expertiseHeading {
        color: var(--color-primary);
        font-size: var(--font-size-large);
    }

    .expertiseSubheading {
        color: var(--color-text-dark);
        font-size: var(--font-size-large);
        width: 60%;
        padding: calc(var(--spacing)*3) 0 0 calc(var(--spacing)*3);
    }
}

.expertiseDetail {
    display: flex;
    background-color: var(--color-background-light);

    .expertiseDescription {
        background-color: var(--color-text-on-dark);
        padding: calc(var(--spacing)*2);
        margin: calc(var(--spacing)*2);
        border-radius: calc(var(--spacing)/2);

        .iconDescription {
            color: var(--color-text);
            padding: calc(var(--spacing)/2);
        }
    }
}

.approachSection {
    background-color: var(--color-background);
    width: 100%;

    .approachHeading {
        color: var(--color-primary);
        font-size: var(--font-size-large);
        padding: calc(var(--spacing)*5) calc(var(--spacing)*5) 0;
    }

    .approachSubheading {
        color: var(--color-text-dark);
        font-size: var(--font-size-large);
        width: 65%;
        padding: var(--spacing) calc(var(--spacing)*5);
    }

    .approachDescription {
        display: flex;
        justify-content: space-between;
        margin: calc(var(--spacing)*4);

        .description {
            width: 50%;
        }
    }
}

.researchModal {
    width: 45%;
    border-style: solid;
    border-color: var(--color-hr-light);
    margin: var(--spacing);
    border-radius: var(--spacing);
    background-color: var(--color-text-on-dark);

    .modalImage {
        width: 100%;
        object-fit: fill;
    }

    .modalHeading {
        color: var(--color-text-dark);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-medium);
        margin: var(--spacing);
    }

    .modalDescription {
        color: var(--color-text);
        font-size: var(--font-size-small);
        margin: var(--spacing);
    }

    .modalTitle {
        display: flex;
        color: var(--color-text-light);
        margin: calc(var(--spacing)*3) 0 var(--spacing) var(--spacing);
    }
}
@media screen and (max-width: 600px) {
    .serviceSection{
        .researchSection {
            .researchDescription {
                margin: calc(var(--spacing)*2);
                .serviceDescription{
                    width: 100%;
                    font-weight: var(--font-weight-normal);
                    font-size: var(--font-size-super-large);
                }
            }
        }
    }
    .researchImage {
        height: 0;
        width: 0;
    }
    .expertiseSection{
        .expertiseSubheading{
            width: auto;
            padding: calc(var(--spacing)*2);
        }
    }
    .approachSection {
        .approachSubheading{
            width: auto;
            padding: calc(var(--spacing)*2);
        }
        .approachDescription{
            flex-direction: column-reverse;
            margin: var(--spacing);

            .description{
                width: auto;
            }
        }
    }
}