.keyFigure {
    .value {
        color: var(--color-primary);
        font-size: var(--font-size-key-figure-value);
    }

    &.stringValue {
        .label {
            color: var(--color-secondary);
        }

        .value {
            color: var(--color-primary);
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-normal);
        }
    }

    .projectCount {
        color: var(--color-primary);
        font-size: var(--font-size-extra-large);
        font-weight: var(--font-weight-normal);
    }
}