.keyFigure {
    .value {
        color: var(--color-primary);
        font-size: var(--font-size-key-figure-value);
    }

    &.stringValue {
        .label {
            color: var(--color-primary);
        }

        .value {
            color: var(--color-text);
            font-size: var(--font-size-medium);
        }
    }
}
