.footer {
    background-color: var(--color-surface-footer);
    color: var(--color-text-white);

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--spacing-medium);

        .logo {
            height: 3rem;
            cursor: pointer;
        }

        .description {
            max-width: 15rem;
        }
    }

    .footerSection {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);

        .sectionContent {
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-small);
            gap: var(--spacing-small);
        }


    }
}

.copyrightContainer {
    border-top: var(--width-separator-thin) solid var(--color-footer-separator);
    background-color: var(--color-surface-footer);
    color: var(--color-text-white);

    .copyRightContent {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .copyRight {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: var(--font-size-small);
    }

    .socialMediaIcons {
        display: flex;
        margin-right: var(--spacing-double-ultra-large);
        gap: var(--spacing-small);
        font-size: var(--font-size-extra-large);

        .socialMedia {
            border-radius: var(--radius-button);
            background-color: var(--color-background-social-media);
            cursor: pointer;
            padding: var(--padding-social-media-icon);

            &:hover {
                background-color: var(--color-primary);
            }
        }
    }
}