.footer {
    background-color: var(--color-surface-footer);
    color: var(--color-text-white);

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--spacing-super-large);

        .logo {
            height: 3rem;
        }

        .description {
            max-width: 15rem;
        }
    }
}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    .sectionContent {
        display: flex;
        flex-direction: column;
        font-size: var(--font-size-small);
        gap: var(--spacing-small);
    }
}
