.listContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);

        ul {
            margin: 0;
        }
    }
}
