.button {
    --padding: var(--spacing-small) var(--spacing-medium);
    --border-color: transparent;
    --background: var(--color-background);
    --color: var(--color-text);

    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    outline-offset: calc(-1 * var(--spacing-small));
    border: 1px solid var(--border-color);
    border-radius: var(--radius-button);
    background-color: var(--background);
    cursor: pointer;
    padding: var(--padding);
    width: fit-content;
    overflow: hidden;
    color: var(--color);
    font-family: inherit;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);

    .icons {
        display: flex;
        align-items: center;
        --padding: 0 var(--spacing-extra-small);
    }

    .actions {
        display: flex;
        align-items: center;
        --padding: 0 var(--spacing-extra-small);
    }

    .children {
        display: flex;
        align-items: center;
        --padding: 0 var(--spacing-extra-small);
    }

    &.default {
        --background: none;
    }

    &.primary {
        --background: var(--color-primary);
        --color: var(--color-text-on-dark);
    }

    &.tab {
        --background: transparent;
        border-radius: unset;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-normal);
        --color: var(--color-secondary);
    }

    &.outline {
        --background: var(--color-surface-white);
        --border-color: rgba(0, 0, 0, 0.1);
        font-weight: var(--font-weight-normal);
    }

    &.outlineActive {
        --background: var(--color-surface-white);
        --border-color: var(--color-primary);
        --color: var(--color-primary);
        font-weight: var(--font-weight-normal);
    }

    &.disabled {
        opacity: var(--opacity-disabled-element);
        cursor: not-allowed;
    }
}
