.employeePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-header-dark);
    padding: var(--spacing-medium);
    height: 100vh;
    gap: var(--spacing-super-large);

    .logo {
        height: 3rem;
    }

    .card {
        width: 100%;
        max-width: 50rem;
    }

    .visitWebsiteLink {
        color: var(--color-primary);
    }
}
