.analysisSection {
    align-self: stretch;
    width: 100%;
    /* background-color: var(--color-background-dark); */

    .projectLinks {
        gap: var(--spacing);
    }

    .description {
        font-size: var(--font-size-super-large);
        margin-top: calc(var(--spacing) * 3);
        max-width: 46rem;
    }

    .links {
        display: flex;
        gap: calc(var(--spacing) * 4);
        margin-top: calc(var(--spacing) * 2);

        .fakeLink {
            cursor: pointer;
            color: var(--color-primary);
            font-weight: var(--font-weight-medium)
        }

        .fakeDescription {
            font-weight: var(--font-weight-light);
        }
    }
}

.title {
    margin: calc(var(--spacing)*2) 0 calc(var(--spacing)) 0;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
}

.detailSection {
    display: flex;
    justify-content: flex-start;

    .detailPage {
        margin-top: calc(var(--spacing)*2.5);

        .fakeLink {
            cursor: pointer;
            color: var(--color-primary);
            font-weight: var(--font-weight-medium);
            margin: calc(var(--spacing) / 5);
        }

        .fakeDescription {
            font-weight: var(--font-weight-light);
        }
    }

    .aboutDetail {
        margin-top: calc(var(--spacing) *2);

        .aboutPage {
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-medium);
        }

        .detailDescription {
            font-size: var(--font-size-medium);
            margin-top: calc(var(--spacing));
            max-width: 75%;
        }
    }
}

.detailDescription {
    margin-top: calc(var(--spacing) *2);
}

.modal {
    max-width: 75%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-hr-light);
    padding: calc(var(--spacing));

    .modalSection {
        display: flex;

        .modalImage {
            margin: calc(var(--spacing)/2);
            object-fit: cover;
            width: 40%;
        }

        .modalTitle {
            padding: calc(var(--spacing));
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-normal);
            margin: calc(var(--spacing)/4);
        }

        .modalDescription {
            font-size: var(--font-size-medium);
            color: var(--color-text-light);
            overflow: hidden;
            text-overflow: ellipsis;
            padding: calc(var(--spacing));
        }
    }

    .horizontalRow {
        height: 2px;
        background-color: var(--color-hr-light);
        border: 0 none;
        width: 100%;
    }

    .viewLink {
        text-align: center;
        cursor: pointer;
        color: var(--color-primary);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-large);
    }
}
@media screen and (max-width: 600px) {
    .modal {
        .modalSection {
            flex-direction: column;
            .modalImage {
                width: auto;
            }
        }
    }
    .detailSection {
        .aboutDetail {
            margin-left: calc(var(--spacing)*2);
        }
    }
}