.accordion {
    display: flex;
    position: relative;
    z-index: 0;
    gap: var(--spacing-super-large);

    .gradientBackground {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 0;
        background: radial-gradient(circle at center, #ffffffa0 0, var(--color-background) 60%);
        width: 100%;
        height: 100%;
    }

    .backgroundImage {
        position: absolute;
        top: var(--spacing-medium);
        left: var(--spacing-medium);
        z-index: 0;
        width: calc(100% - var(--spacing-medium) * 2);
        height: calc(100% - var(--spacing-medium) * 2);
        object-fit: cover;
        object-position: center right;
        filter: blur(8px);
    }

    .itemList {
        align-self: center;
        z-index: 1;

        .item {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            padding: var(--spacing-medium) 0;
            gap: var(--spacing-medium);

            .titleRow {
                display: flex;
                align-items: baseline;
                cursor: pointer;
                width: 100%;
                gap: var(--spacing-medium);

                .halfLogo {
                    height: var(--font-size-large);
                }

                .label {
                    font-size: var(--font-size-heading-extra-small);
                }
            }

            .description {
                font-size: var(--font-size-large);
            }

            .imageInternal {
                display: none;
                width: 100%;
                height: 16rem;
                object-fit: cover;
                object-position: center center;

                @media screen and (max-width: 900px) {
                    display: block;
                }
            }
        }
    }

    .image {
        flex-shrink: 0;
        z-index: 1;
        margin-top: var(--spacing-extra-large);
        width: 24rem;
        height: 30rem;
        object-fit: cover;
        object-position: center center;
    }

    @media screen and (max-width: 900px) {
        .image {
            display: none;
        }
    }
}
