.task {
    display: flex;
    gap: calc(var(--spacing-super-small) * 6);

    .title {
        flex-shrink: 0;
        width: 16rem;
        color: var(--color-text-light);
        font-size: var(--font-size-large);
    }

    .summary {
        color: var(--color-text-light);
    }
}
