.bannerWithImage {
    --image-offset-y: 260px;
    --image-width: 456px;
    --image-height: 562px;
    --section-min-height: 38rem;

    @media screen and (max-width: 900px) {
        --image-offset-y: 300px;
    }

    .topSection {
        display: flex;
        flex-direction: column;
        background-color: var(--color-secondary);
        min-height: var(--section-min-height);
        color: var(--color-text-on-dark);

        &.light {
            background-color: var(--color-header-light);
            color: var(--color-secondary);
        }

        .content {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;
            padding: var(--spacing-extra-large) 0;
            gap: var(--spacing-super-large);

            @media screen and (max-width: 900px) {
                flex-wrap: wrap;
            }

            .left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: var(--spacing-large);

                .title {
                    color: var(--color-primary);
                    font-size: var(--font-size-large);
                }

                .description {
                    font-size: var(--font-size-banner-description);
                }
            }

            .bannerImage {
                transform: translateY(var(--image-offset-y));
                margin-top: calc(-1 * var(--image-offset-y));
                border-radius: var(--radius-card);
                width: 100%;
                max-width: var(--image-width);
                height: 562px;
                object-fit: cover;

                @media screen and (max-width: 900px) {
                    margin-top: calc(-1 * var(--image-offset-y));
                }
            }
        }
    }

    .bottomSection {
        margin-top: var(--spacing-large);
        min-height: var(--image-offset-y);

        .statsContainer {
            margin: unset;
            max-width: calc(100% - var(--image-width) - var(--spacing-large));
        }

        @media screen and (max-width: 900px) {
            margin-top: calc(var(--image-offset-y) - var(--spacing-super-large));
            min-height: unset;

            .statsContainer {
                max-width: unset;
            }
        }
    }

    &.noImage {
        --section-min-height: 26rem;

        .topSection {
            .content {
                .left {
                    max-width: calc(var(--width-content-max) - var(--image-width));
                }
            }
        }

        .bottomSection {
            min-height: unset;
        }
    }
}
