.horizontalRow {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-text-light);
    border: 0 none;
    margin-top: calc(var(--spacing)*2);
}

.quote {
    margin: calc(var(--spacing)*2);
    font-style: italic;
    font-size: x-large;
}

.testimonial {
    margin-top: calc(var(--spacing));
}

.mainContent {
    display: flex;
}