.careerItem {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-card);
    background-color: var(--color-surface-white);
    padding: var(--spacing-medium);
    gap: var(--spacing-small);
    font-size: var(--font-size-small);

    .actions {
        display: flex;
        justify-content: flex-end;
    }
}

