.careerItem {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-card);
    background-color: var(--color-surface-white);
    padding: var(--spacing-medium);
    gap: var(--spacing-small);
    font-size: var(--font-size-small);

    .departmentLabel {
        color: var(--color-text-dark-gray);
    }

    .divider {
        border-top: var(--width-separator-thin) solid var(--color-separator);
        width: 100%;
        color: white;
    }

    .actions {
        display: flex;
        justify-content: space-between;

        .applyDate {
            display: flex;
            justify-content: space-between;
            color: var(--color-text-dark-gray);
        }
    }
}
