.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        padding: var(--spacing) 0;
        max-width: var(--width-page-max);
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .brand {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: var(--spacing);
            /* position: sticky;
            top: 0;
            z-index: 111111;
            width: 100%; */

            .brandName {
                display: flex;
                align-items: center;
                gap: var(--spacing);
            }

            .title {
                font-size: var(--font-size-extra-large);
            }
            
            .navItemsContainer {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: var(--spacing);
    
                .navItem {
                    font-weight: var(--font-weight-medium);
                }
            }
    
            .button {
                padding: 0;
            }
            .menu {
                display: none;
                border: 1px solid var(--color-text-on-dark);
                border-radius: var(--radius-button);
                padding: var(--spacing-extra-small);
                color: var(--color-text);
    
                &:hover {
                    color: var(--color-text);
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .navbar {
        .container {
            .brand {
                .navItemsContainer {
                    display: flex;
                    flex-direction: column;
                }
                .title{
                    font-size: var(--font-size-mid-medium);
                }
            }
        }
        .navItems {
            .navLink {
                align-self: flex-end;
                display: initial;
                position: absolute;
                cursor: pointer;
            }
        }
    }
}