:root {
    /* brand colors */
    --color-primary: #ff5500; /* orangish */
    --color-secondary: #032B43; /* dark bluish */

    /* text colors */
    --color-text-black: #313131;
    --color-text-dark-gray: #7a7a7a;
    --color-text-light-gray: #b3b3b3;
    --color-text-white: #f7f7f7;
    /* fixme: we probably need another color for this */
    --color-text-on-disabled: #333333;

    --color-text: var(--color-text-black); /* black */
    --color-text-light: var(--color-text-dark-gray); /* dark gray */

    --color-text-on-dark: var(--color-text-white);
    --color-text-on-dark-light: var(--color-text-light-gray);


    /* surface colors */
    --color-surface-white: #ffffff;
    --color-surface-header: #fff1eb;
    --color-surface-background: #fdf9f7;
    --color-surface-footer: #032b43;
    --color-surface-disabled: #b3b3b3;
    --color-surface-light: #f7f7f7;

    --color-separator: rgba(0, 0, 0, .08);

    --width-content-max: 72rem;

    --font-weight-light: 400;
    --font-weight-normal: 400;
    --font-weight-bold: 600;


    /* Major Third progression */
    --multiplier: 1.2599;

    --font-size-base: 1.25rem;
    --font-size-heading-base: 2rem;

    --font-size-small: calc(var(--font-size-base) / var(--multiplier));
    --font-size-medium: var(--font-size-base);
    --font-size-large: calc(var(--font-size-base) * var(--multiplier));
    --font-size-extra-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier));

    --font-size-banner-description: 3rem;
    --font-size-key-figure-value: 3rem;
    --font-size-description: 2rem;

    --font-size-heading-extra-small: calc(var(--font-size-heading-base) / (var(--multiplier) * var(--multiplier)));
    --font-size-heading-small: calc(var(--font-size-heading-base) / var(--multiplier));
    --font-size-heading-medium: var(--font-size-heading-base);
    --font-size-heading-large: calc(var(--font-size-heading-base) * var(--multiplier));
    --font-size-heading-extra-large: calc(var(--font-size-heading-base) * var(--multiplier) * var(--multiplier));


    --spacing-base: 1.25rem;

    --spacing-extra-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier)));
    --spacing-small: calc(var(--spacing-base) / var(--multiplier));
    --spacing-medium: var(--spacing-base);
    --spacing-large: calc(var(--spacing-base) * var(--multiplier));
    --spacing-extra-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier));
    --spacing-super-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-mega-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-ultra-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));

    --radius-button: 0.25rem;
    --radius-card: 0.5rem;

    --height-logo: 1.5rem;

    --width-separator-thin: 1px;
    --width-separator-medium: 2px;

    @media screen and (max-width: 900px) {
        --font-size-heading-base: 1.75rem;
        --font-size-base: 1rem;
        --spacing-base: 0.875rem;

        --font-size-banner-description: 2rem;
        --font-size-key-figure-value: 2rem;
    }
}

