.navbar {
    background-color: var(--color-background);
    padding: var(--spacing-large) var(--spacing-super-large);

    .content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-super-large);

        .logo {
            cursor: pointer;
            height: var(--height-logo);
        }

        .menuList {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: var(--spacing-super-large);
        }

        .contactLink {
            flex-shrink: 0;
            margin-left: var(--spacing-super-large);
        }

        .menuBar {
            display: none;
        }

        .navHamburger {
            display: none;
        }

        .bar {
            display: block;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            margin: var(--responsive-navigation-bar-margin) auto;
            background-color: var(--color-text);
            width: var(--responsive-navigation-bar-width);
            height: var(--responsive-navigation-bar-height);
        }
    }
}

@media only screen and (max-width: 720px) {
    .navbar {
        justify-content: space-between;
        background-color: var(--color-background);

        .content {
            justify-content: space-between;

            .menuList {
                display: none;
            }

            .contactLink {
                display: none;
            }

            .menuBar {
                display: flex;
                position: fixed;
                top: 4rem;
                right: 0;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                transition: 0.3s;
                z-index: 1;
                border-bottom-left-radius: var(--radius-card);
                border-bottom-right-radius: var(--radius-card);
                box-shadow: var(--general-shadow-border);
                background-color: var(--color-surface-white);
                padding: var(--spacing-large);
                gap: var(--spacing-mega-large);
                width: 100%;
                text-align: center;
                font-size: var(--font-size-medium);
            }

            .navHamburger {
                display: block;
                cursor: pointer;
            }
        }
    }
}

.navLink {
    &.active {
        color: var(--color-primary);
    }

    &:hover {
        color: var(--color-primary);
    }
}