.cardSection {
    display: flex;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-card);
    box-shadow: var(--card-shadow-border);
    background-color: var(--color-surface-white);
    height: 100%;

    .displayImage {
        border-radius: unset;
        border-top-left-radius: var(--radius-card);
        border-bottom-left-radius: var(--radius-card);
        height: 100%;
    }

    .details {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-medium);
        gap: var(--spacing-medium);

        .position {
            color: var(--color-primary);
        }

        .description {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    &.list {
        flex-direction: column;
        cursor: pointer;

        .socialMediaIcons {
            display: none;
        }

        .displayImage {
            border-radius: unset;
            border-top-left-radius: var(--radius-card);
            border-top-right-radius: var(--radius-card);
            width: 100%;
            height: 16rem;
            object-fit: cover;
            object-position: center center;
        }

        .details {
            .description {
                -webkit-line-clamp: 3;
            }
        }

        &:hover {
            border-bottom: var(--width-separator-thin) solid var(--color-primary);
        }
    }

    &.detail {

        .socialMediaIcons {
            display: flex;
            gap: var(--spacing-extra-small);
        }

        .displayImage {
            border-radius: unset;
            border-top-left-radius: var(--radius-card);
            border-top-right-radius: var(--radius-card);
            border-bottom-left-radius: var(--radius-card);
            border-bottom-right-radius: var(--radius-card);
            width: 18rem;
            height: 16rem;
            object-fit: cover;
        }

        .details {
            .description {
                -webkit-line-clamp: 3;
            }
        }
    }
}