.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .mainContent {
        flex-grow: 1;
        background-color: var(--color-background);
    }

    .scrollTopButton {
        position: relative;
    }

    .scrollTop {
        position: fixed;
        right: var(--spacing-mega-large);
        bottom: var(--spacing-extra-large);
        z-index: 20;
        border: var(--width-separator-thin) solid var(--color-primary);
        border-radius: var(--outline-button-border-radius);
        background-color: var(--color-surface-light);
        padding: var(--spacing-extra-small);
        width: 3rem;
        height: 3rem;
        color: var(--color-primary);

        &:hover {
            cursor: pointer;
        }
    }
}