.card {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-card);
    overflow: hidden;
    transition: 100ms ease-out;

    &:hover {
        background-color: transparent;
        transform: scale(1.005);
        transition: 100ms ease-in;
        box-shadow: var(--card-shadow-border);
    }

    &.mini {
        border-radius: var(--outline-button-border-radius);
        background-color: var(--color-surface-white);
        padding: var(--spacing-medium);
        gap: var(--spacing-medium);

        .image {
            width: var(--expertise-logo);
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-medium);
        }

        &:hover {
            background-color: none;
            transform: none;
            transition: none;
            box-shadow: none;
            box-shadow: none;
        }
    }

    &.normal {
        .image {
            border-top-left-radius: var(--radius-card);
            border-top-right-radius: var(--radius-card);
            background-color: rgba(0, 0, 0, .05);
            width: 100%;
            height: 20rem;
            object-fit: cover;
            object-position: center center;
        }

        .details {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: var(--spacing-medium);
            gap: var(--spacing-small);

            .description {
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: var(--font-size-accordion-description);
            }

            .tag {
                display: flex;
                align-items: flex-end;
                flex-grow: 1;
                color: var(--color-text-dark-gray);
                font-size: var(--font-size-accordion-description);
            }
        }
    }
}