.section {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-extra-large);
        padding: var(--spacing-large) 0;

        .title {
            color: var(--color-primary);
            font-size: var(--font-size-large);
        }

        .description {
            max-width: 56rem;
            color: var(--color-secondary);
            font-size: var(--font-size-extra-large);
        }
    }
}

.ourTeam {
    background-color: var(--color-background-light);
}

.expertiseList {
    display: flex;
    gap: var(--spacing-medium);

    >* {
        flex-basis: 20rem;
    }
}

.coreValueDetails {
    display: flex;
    gap: var(--spacing-super-large);

    .cultureList {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-small);

        .cultureItem {
            display: flex;
            cursor: pointer;
            width: 100%;
            gap: var(--spacing-medium);

            .halfLogo {
                height: var(--font-size-large);
            }

            .cultureTitle {
                font-weight: var(--font-weight-normal);
            }

            .cultureDescription {
                font-size: var(--font-size-large);
            }
        }

        .horizontalRow {
            flex-shrink: 0;
            border-color: rgba(0, 0, 0, .05);
            width: 100%;
        }
    }

    .activeCultureImage {
        flex-shrink: 0;
        transition: .2s filter ease-in-out;
        margin-top: var(--spacing-extra-large);
        width: 24rem;
        height: 30rem;
        object-fit: cover;
        object-position: center center;
    }
}

.socialList,
.galleryList {
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;

    >* {
        flex-basis: calc(50% - var(--spacing-large));
    }
}

.careerSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-medium);

    .careerTitle {
        color: var(--color-primary);
        font-size: var(--font-size-large);
    }

    .careerDescription {
        max-width: 48rem;
        text-align: center;
        color: var(--color-secondary);
        font-size: var(--font-size-large);
    }
}
