.socialList,
.galleryList {
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;

    >* {
        flex-basis: calc(50% - var(--spacing-large));

        @media screen and (max-width: 900px) {
            flex-basis: 100%;
        }
    }
}

.ourTeam {
    background-color: var(--color-background-light);

    .activityList {
        display: flex;
        gap: var(--spacing-medium);
        flex-wrap: wrap;

        >* {
            flex-basis: calc(100% / 3 - var(--spacing-medium) / 1.5);
            flex-grow: 1;
            min-width: 20rem;
            max-width: calc(50% - var(--spacing-medium) / 2);
        }

        @media screen and (max-width: 900px) {
            >* {
                flex-basis: 100%;
                min-width: unset;
                max-width: unset;
            }
        }
    }
}

.careerSection {
    background-color: var(--color-surface-header);
    min-height: 16rem;
}
