.galleryCard {
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-card);

    .imageContainer {
        position: relative;
        height: 16rem;
        border-top-left-radius: var(--radius-card);
        border-top-right-radius: var(--radius-card);

        .image {
            border-top-left-radius: var(--radius-card);
            border-top-right-radius: var(--radius-card);
        }
    }

    &.withoutCaption {
        .imageContainer {
            border-radius: var(--radius-card);

            .image {
                border-radius: var(--radius-card);
            }
        }
    }

    .caption {
        padding: var(--spacing-small);
        color: var(--color-text-dark-gray);
        font-size: var(--font-size-small);
        text-align: justify;
    }
}