.workListSection {
    background-color: var(--color-text-dark);

    .workSection {
        display: flex;
        position: relative;

        .workDescription {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 30rem;
            margin: calc(var(--spacing)*2);

            .workDescription {
                width: 60%;
                color: var(--color-text-on-dark);
                font-size: var(--font-size-super-large);
                font-weight: var(--font-weight-normal);

                .workList {
                    color: var(--color-primary);
                    font-size: var(--font-size-medium);
                    font-weight: var(--font-weight-medium);
                    justify-content: center;
                }
            }
        }
        .workImage {
            position: absolute;
            right: 0;
            margin-top: calc(var(--spacing)*5);
        }
    }
}
.projectCompleted {
    display: flex;
    gap: calc(var(--spacing)*6);

    .projectCount {
        color: var(--color-primary);
        font-size: var(--font-size-super-large);
    }
}
@media screen and (max-width: 600px) {
    .workImage {
        height: 0;
        width: 0;
    }
}