.workList {
    width: 100%;

    .projectDetail {
        color: var(--color-text);
        gap: var(--spacing);
        margin: calc(var(--spacing)*4) calc(var(--spacing)*4) calc(var(--spacing)*4) 0;

        .projectCompleted {
            display: flex;
            gap: calc(var(--spacing)*6);

            .projectCount {
                color: var(--color-primary);
                font-size: var(--font-size-super-large);
            }
        }
    }

    .horizontalRow {
        height: 2px;
        background-color: var(--color-hr-light);
        border: 0 none;
        margin: calc(var(--spacing)*10) 0 calc(var(--spacing)*10) 0;
    }

    .researchList {
        display: flex;
        background-color: var(--color-background-light);
    }
}

.workListSection {
    background-color: var(--color-text-dark);
    height: 30rem;

    .workSection {
        display: flex;
        position: relative;

        .workDescription {

            .workList {
                color: var(--color-primary);
                font-size: var(--font-size-medium);
                font-weight: var(--font-weight-medium);
                margin: calc(var(--spacing)*10) calc(var(--spacing)*10) 0 calc(var(--spacing)*10);
            }

            .workDescription {
                width: 40%;
                color: var(--color-text-on-dark);
                font-size: var(--font-size-super-large);
                font-weight: var(--font-weight-normal);
                margin: var(--spacing) calc(var(--spacing)*10) 0 calc(var(--spacing)*10);
            }
        }

        .workImage {
            width: 40%;
            position: absolute;
            margin: calc(var(--spacing)*10);
            left: calc(var(--spacing)*38);
            z-index: 1;
        }
    }
}