.home {
    .introSection {
        padding: calc(var(--spacing) * 5) 0;
        min-height: 36rem;

        .description {
            font-size: var(--font-size-mega-large);
            max-width: 36rem;
        }

        .links {
            display: flex;
            gap: calc(var(--spacing) / 2);
            margin-top: calc(var(--spacing) * 2);

            .fakeLink {
                cursor: pointer;
                color: var(--color-primary);
            }
        }
    }

    .clientsSection {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);
        align-items: center;
        padding: calc(var(--spacing) * 5) 0;

        .description {
            max-width: 50rem;
            text-align: center;
            font-size: var(--font-size-extra-large);
        }
    }

    .tasksSection {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 6);
        align-items: center;
        padding: calc(var(--spacing) * 5) 0;

        .description {
            max-width: 40rem;
            text-align: center;
            font-size: var(--font-size-super-large);
        }

        .taskList {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing) * 5);
            max-width: 42rem;
        }
    }
}

.task {
    display: flex;
    gap: calc(var(--spacing) * 6);

    .title {
        font-size: var(--font-size-large);
        color: var(--color-text-light);
        width: 16rem;
        flex-shrink: 0;
    }

    .summary {
        color: var(--color-text-light);
    }
}
@media screen and (max-width: 600px) {
    .home{
        .tasksSection{
            .taskList{
                max-width: 23rem;
            }
        }
    }
    .task {
        gap: calc(var(--spacing)*2);
    }
}
