.home {
    .banner {
        background: linear-gradient(90deg, var(--color-surface-banner-gradient-stop) -12%, var(--color-surface-banner-gradient-start) 300%);
        /* TODO: replace with image */
        background-color: var(--color-surface-header);
        /* padding: var(--spacing-ultra-large) var(--spacing-super-large); */
        max-height: 35rem;


        .homeTitle {
            color: #004874 !important;
            line-height: 1.25 !important;
            font-size: var(--font-size-banner-description) !important;
        }

        .introductionContent {
            display: flex;
            flex-direction: column;
            max-width: 36rem;
            gap: var(--spacing-super-large);
            font-size: var(--font-size-medium);

            .tags {
                display: flex;
                flex-wrap: wrap;
                line-height: 1;
                color: var(--color-primary);
                gap: var(--spacing-small);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);

                @media screen and (max-width: 900px) {
                    flex-direction: column;

                    .dot {
                        display: none;
                    }
                }
            }

            .getStartedButton {
                align-self: flex-start;
            }
        }
    }

    .bannerContent {
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-extra-large) 0 !important;
    }

    .viewMoreButton {
        align-self: flex-start !important;
        border-radius: var(--radius-button) !important;
    }

    .introImages {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);

        >* {
            flex-grow: 1;
            border-radius: var(--radius-card);
            width: calc(100% / 3 - var(--spacing-medium) / 1.5);
            min-width: 20rem;
            max-width: calc(50% - var(--spacing-medium) / 2);
            height: 20rem;
            object-fit: cover;
            object-position: center;
        }

        @media screen and (max-width: 900px) {
            >* {
                flex-basis: 100%;
                min-width: unset;
                max-width: unset;
            }
        }
    }

    .clientsSection {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
        padding-top: 7rem;

        .heading {
            text-align: center;
            font-weight: var(--font-weight-light);
            font-size: var(--font-size-medium);
        }

        .clientLogoGroup {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-ultra-large);

            .clientGroupOne {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .britishEmbassy {
                    width: 10rem;
                    height: 2.6rem;
                }

                .idmc {
                    width: 10rem;
                    height: 3.3rem;
                }

                .unhcr {
                    width: 10rem;
                    height: 3.3rem;
                }

                .americanRedCross {
                    width: 10rem;
                    height: 3.3rem;
                }

                .worldVision {
                    width: 10rem;
                    height: 3.3rem;
                }
            }

            .clientGroupTwo {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--spacing-small);

                .jips {
                    width: 10rem;
                    height: 3.3rem;
                }

                .peopleInNeed {
                    width: 10rem;
                    height: 3.3rem;
                }

                .dataFriendlySpace {
                    width: 10rem;
                    height: 3.3rem;
                }

                .ifrc {
                    width: 10rem;
                    height: 3.3rem;
                }

                .sntm {
                    width: 10rem;
                    height: 3.3rem;
                }
            }

            .clientGroupThree {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--spacing-ultra-large);

                .boldCode {
                    width: 10rem;
                    height: 2.6rem;
                }

                .okularAnalytics {
                    width: 10rem;
                    height: 3.3rem;
                }
            }
        }
    }

    .statSection {
        background-color: #004874;

        .projectCount {
            display: flex;
            justify-content: space-between;
            background-color: #004874;

            .statBox {
                display: flex;
                align-items: center;
                gap: var(--spacing-medium);

                .statInfo {
                    display: flex;
                    flex-direction: column;

                    .statNumber {
                        color: white;
                        font-weight: bold;
                        font-size: var(--font-size-large);
                    }

                    .statDescription {
                        color: white;
                        font-weight: 500;
                        font-size: var(--font-size-small);
                    }
                }
            }
        }
    }

    .ourServices {
        background-color: var(--color-surface-light);

        .serviceList {
            display: flex;
            gap: var(--spacing-medium);
            flex-wrap: wrap;

            >* {
                flex-basis: calc(100% / 3 - var(--spacing-medium) / 1.5);
                flex-grow: 1;
                background-color: var(--color-surface-white);
                min-width: 20rem;
                max-width: calc(50% - var(--spacing-medium) / 2);
            }

            @media screen and (max-width: 900px) {
                >* {
                    flex-basis: 100%;
                    min-width: unset;
                    max-width: unset;
                }
            }
        }
    }

    .recentWorkList {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-highlighted-works);

        .recentWorkCard {
            display: flex;
            align-items: center;
            gap: var(--spacing-super-large);

            .workPreview {
                flex-basis: 50%;
                flex-shrink: 0;
                border-radius: 0.5rem;
                padding: var(--spacing-extra-small);
                width: 50%;
                height: 20rem;
                object-fit: cover;
                object-position: center;
            }

            .details {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-medium);

                .description {
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            @media screen and (max-width: 900px) {
                flex-direction: column;
                gap: var(--spacing-medium);

                .workPreview {
                    flex-basis: unset;
                    width: 100%;
                }

                &:nth-child(even) {
                    flex-direction: column;
                }
            }
        }
    }

    .bottomSection {
        background-image: url('/rectangle-pattern.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            min-height: 20rem;
            gap: var(--spacing-large);
            text-align: center;
        }
    }
}