.home {
    .banner {
        .topSection {
            .topSectionContent {
                .bannerContent {
                    .homeTitle {
                        line-height: 1.25;
                        color: var(--color-text-black);
                        font-size: var(--font-size-banner-description);
                    }
                }
            }
        }
    }

    .introductionContent {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-super-large);
        font-size: var(--font-size-medium);

        .bannerDescription {
            font-size: var(--font-size-large);
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            line-height: 1;
            color: var(--color-primary);
            gap: var(--spacing-small);
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-bold);

            @media screen and (max-width: 900px) {
                flex-direction: column;

                .dot {
                    display: none;
                }
            }
        }

        .getStartedButton {
            align-self: flex-start;

            &:hover {
                background-color: var(--color-primary-active);
                color: var(--color-text-on-dark);
            }
        }
    }

    .clientsSection {
        display: flex;
        flex-direction: column;

        .heading {
            text-align: center;
            color: var(--color-text-light);
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-normal);
        }

        .clientLogoGroup {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-ultra-large);

            .trustedIcons {
                width: 9rem;
                height: 3.3rem;
                object-fit: contain;
            }

            .darkIconMode {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }

            .clientGroupOne {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--spacing-extra-ultra-large);
            }

            .clientGroupTwo {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--spacing-large);
            }

            .clientGroupThree {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--spacing-ultra-large);
            }
        }
    }


    .viewMoreButton {
        align-self: flex-start;
        border-radius: var(--radius-button);

        &:hover {
            background-color: var(--color-primary-active);
            color: var(--color-text-on-dark);
        }
    }

    .introImages {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);

        >* {
            flex-grow: 1;
            border-radius: var(--radius-card);
            width: calc(100% / 3 - var(--spacing-medium) / 1.5);
            min-width: 20rem;
            max-width: calc(50% - var(--spacing-medium) / 2);
            height: 20rem;
            object-fit: cover;
            object-position: center;
        }

        @media screen and (max-width: 900px) {
            >* {
                flex-basis: 100%;
                min-width: unset;
                max-width: unset;
            }
        }
    }

    .statSection {
        background-color: var(--color-surface-footer-light);

        .projectCount {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: var(--spacing-small);
            background-color: var(--color-surface-footer-light);

            .statBox {
                display: flex;
                align-items: center;
                gap: var(--spacing-medium);

                .statBoxContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: var(--radius-button);
                    background-color: var(--color-primary-light);
                    width: var(--spacing-highlighted-works);
                    height: var(--spacing-highlighted-works);

                    .statIcon {
                        color: var(--color-surface-white);
                    }
                }

                .statInfo {
                    display: flex;
                    flex-direction: column;

                    .statNumber {
                        color: var(--color-surface-white);
                        font-size: var(--font-size-extra-large);
                        font-weight: var(--font-weight-bold);
                    }

                    .statDescription {
                        color: var(--color-surface-white);
                        font-size: var(--font-size-small);
                    }
                }
            }
        }
    }

    .ourServices {
        background-color: var(--color-surface-light);

        .serviceList {
            display: flex;
            gap: var(--spacing-medium);
            flex-wrap: wrap;

            >* {
                flex-basis: calc(100% / 3 - var(--spacing-medium) / 1.5);
                flex-grow: 1;
                background-color: var(--color-surface-white);
                min-width: 20rem;
                max-width: calc(50% - var(--spacing-medium) / 2);
            }

            @media screen and (max-width: 900px) {
                >* {
                    flex-basis: 100%;
                    min-width: unset;
                    max-width: unset;
                }
            }
        }
    }

    .recentWorkList {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-highlighted-works);

        .recentWorkCard {
            display: flex;
            align-items: center;
            gap: var(--spacing-super-large);

            .workPreview {
                flex-basis: 50%;
                flex-shrink: 0;
                border-radius: var(--radius-button);
                width: 50%;
                height: 20rem;
                object-fit: cover;
                object-position: center;
            }

            .details {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-medium);
                padding: 0 var(--spacing-ultra-large) 0 var(--spacing-ultra-large);

                @media screen and (max-width: 900px) {
                    padding: 0;
                }

                .description {
                    display: -webkit-box;
                    overflow: hidden;
                    font-size: var(--font-size-accordion-description);
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            @media screen and (max-width: 900px) {
                flex-direction: column;
                gap: var(--spacing-medium);

                .workPreview {
                    flex-basis: unset;
                    width: 100%;
                }

                &:nth-child(even) {
                    flex-direction: column;
                }
            }
        }
    }

    .bottomSection {
        background-image: url('/rectangle-pattern.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            min-height: 20rem;
            gap: var(--spacing-large);
            text-align: center;

            .howCanHelp {
                &:hover {
                    background-color: var(--color-primary-active);
                    color: var(--color-text-on-dark);
                }
            }
        }
    }
}