.blogs {
    .keyFigures {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-large);
    }

    .blogContent {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
        padding: var(--spacing-medium) 0;

    }

    .blogList {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-large);

        .blog {
            flex-basis: calc(33% - var(--spacing-large));

            @media screen and (max-width: 900px) {
                flex-basis: 100%;
            }
        }
    }
}
