.banner {
    background-color: var(--color-surface-header);

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);

        .backLink {
            display: flex;
            gap: var(--spacing-medium);
            align-items: center;

            .icon {
                font-size: var(--font-size-extra-large);
            }

            .label {
                font-size: var(--font-size-large);
            }
        }
    }
}
