.navbar {
    background-color: var(--color-background);
    padding: var(--spacing-large) var(--spacing-super-large);

    @media screen and (max-width: 900px) {
        padding: var(--spacing-large);
    }

    .content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-extra-large);

        .logo {
            cursor: pointer;
            height: 32px;
        }

        .menuList {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            gap: var(--spacing-large);
        }

        .contactLink {
            flex-shrink: 0;
        }
    }
}

.navLink {
    &.active {
        color: var(--color-primary);
    }
}
