.careerSection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-border-light);
    border-color: var(--color-border-light);
    padding: var(--spacing-extra-large) 0;
    color: var(--color-black);
    font-size: var(--font-size-carrer-title);

    .applySection {
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: var(--font-size-large);
        gap: var(--spacing-extra-large);
    }

    .applyButtons {
        text-transform: none;
        color: var(--color-primary);
    }
}
