.careerSection {
    display: flex;
    align-items: center;
    gap: var(--spacing-large);
    border-bottom: var(--width-separator-thin) solid var(--color-border-light);
    padding: var(--spacing-medium) 0;

    .title {
        flex-grow: 1;
    }

    .actions {
        display: flex;
        gap: var(--spacing-large);
        justify-content: flex-end;

        .type {
            text-transform: uppercase;
            gap: var(--spacing-extra-large);
            color: var(--color-text-light);
            font-size: var(--font-size-small);
        }

        .apply {
            color: var(--color-primary);
        }
    }

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;

        .title {
            flex-basis: 100%;
        }

        .actions {
            flex-grow: 1;
        }
    }
}
