* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--color-background);
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}
