:root {
    /* brand colors */
    --color-primary: #ff5500; /* orangish */
    --color-secondary: #032B43; /* dark bluish */

    /* text colors */
    --color-black: #212121;
    --color-dark-gray: #7a7a7a;

    --color-text: #333333; /* black */
    --color-text-light: var(--color-dark-gray); /* dark gray */

    --color-text-on-dark: #f7f7f7; /* white */
    --color-text-dark: #032B43; /* FIXME: brand color */


    /* surface colors */
    --color-footer-dark: #021f31; /* footer */
    --color-header-light: #FFF1EB; /* header */
    --color-header-dark: #F9ECE5; /* FIXME: this is just there on employee page */
    --color-background: #fdf9f7; /* background */
    --color-background-dark: #032B43; /* FIXME: brand color */
    --color-background-light: #f7f7f7; /* FIXME: white */
    --color-surface-white: #ffffff;

    /* border */
    --color-border-light: #e5e5e5; /* default */
    --color-border: rgba(0, 0, 0, .05);
    --color-separator: rgba(0, 0, 0, .05);

    --width-content-max: 72rem;

    --font-weight-light: 200; /* not used for now */
    --font-weight-normal: 400;
    --font-weight-medium: 600; /* not used for now */
    --font-weight-bold: 700;

    --font-size-small: 0.85rem; /* do not use this */
    --font-size-medium: 1rem; /* body small and button */
    --font-size-large: 1.25rem; /* body text */
    --font-size-extra-large: 2rem; /* body text */

    --font-size-banner-description: 2.2rem;
    --font-size-key-figure-value: 2.2rem;
    --font-size-carrer-title: 1.5rem;

    --font-size-heading-extra-small: 1.1rem; /* h4 */
    --font-size-heading-small: 1.4rem; /* h3 */
    --font-size-heading-medium: 1.8rem; /* h2 */
    --font-size-heading-large: 2.2rem; /* h1 */

    --spacing-extra-small: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.75rem;
    --spacing-extra-large: 2.5rem;
    --spacing-super-large: 4rem;

    --radius-button: 0.25rem;
    --radius-card: 0.5rem;

    --height-logo: 1.5rem;

    --width-separator-thin: 1px;

    @media screen and (max-width: 900px) {
        --font-size-heading-extra-small: 1rem; /* h4 */
        --font-size-heading-small: 1.2rem; /* h3 */
        --font-size-heading-medium: 1.5rem; /* h2 */
        --font-size-heading-large: 2rem; /* h1 */

        --font-size-small: 0.85rem; /* do not use this */
        --font-size-medium: 1rem; /* body small and button */
        --font-size-large: 1.2rem; /* body text */
        --font-size-extra-large: 1.7rem;

        --spacing-extra-small: 0.2rem;
        --spacing-small: 0.4rem;
        --spacing-medium: 0.7rem;
        --spacing-large: 1.1rem;
        --spacing-extra-large: 1.6rem;
        --spacing-super-large: 2.3rem;

        --font-size-banner-description: 2rem;
        --font-size-key-figure-value: 2rem;
        --font-size-carrer-title: 1.25rem;
    }
}

