:root {
    --color-primary: #ff5500;
    --color-default: #CC4400;
    --color-footer-dark: #021f31;
    --color-disabled: #B3B3B3;
    --color-background: #fdf9f7;
    --color-background-dark: #fff1eb;
    --color-background-light: #f7f7f7;
    --color-text-on-dark: #ffffff;
    --color-text: #212121;
    --color-text-light: #858b96;
    --color-text-dark: #032B43;
    --color-hr-light: #E5E5E5;


    --spacing: 1rem;

    --width-page-max: 80rem;

    --font-weight-light: 200;
    --font-weight-normal: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    --font-size-small: 0.85rem;
    --font-size-medium: 1rem;
    --font-size-mid-medium: 1.3rem;
    --font-size-large: 1.5rem;
    --font-size-extra-large: 2rem;
    --font-size-super-large: 2.5rem;
    --font-size-mega-large: 3rem;

    --spacing-super-small: 1rem;
    --spacing-extra-small: 3rem;
    --spacing-small: 6rem;
    --spacing-small-medium: 8rem;
    --spacing-medium: 10rem;
    --spacing-large-medium: 13rem;
    --spacing-large: 16rem;
    --spacing-extra-large: 24rem;
    
    --radius-button: 0.5rem;
}