.alsoSee {
    display: flex;
    gap: var(--spacing-small);
    padding: 3rem 0 0 0;

    .tags {
        color: var(--color-primary);
    }
}

.organizationsWorkedWith {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-large);

    .organizationImg {
        width: 100%;
    }
}

.expertise {
    background-color: var(--color-surface-light);

    .expertiseList {
        display: flex;
        gap: var(--spacing-large);

        >* {
            flex-basis: calc(50% - var(--spacing-medium) / 1.5);
        }

        @media screen and (max-width: 900px) {
            >* {
                flex-basis: 100%;
            }
        }
    }
}

.ourResearch {
    background-color: var(--color-background-light);

    .researchContent {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);

        .researchTagList {
            display: flex;
            gap: var(--spacing-medium);
            flex-wrap: wrap;
        }

        .divider {
            margin: 0;
            border-color: rgba(0, 0, 0, .05);
            width: 100%;
        }

        .researchList {
            display: flex;
            gap: var(--spacing-medium);
            flex-wrap: wrap;

            >* {
                flex-basis: calc(50% - var(--spacing-medium));
                background-color: var(--color-surface-white);
            }

            @media screen and (max-width: 900px) {
                >* {
                    flex-basis: 100%;
                }
            }
        }
    }

    .arrowLink {
        display: flex;
        align-items: center;
        align-self: center;
        color: var(--color-primary);
        gap: var(--spacing-small);
        font-size: var(--font-size-large);

        .icon {
            display: flex;
            align-items: center;
            font-size: var(--font-size-extra-large);
        }
    }
}

.productDetail {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-super-large);

    .productDescription {
        display: flex;
        align-self: center;
        flex-direction: column;
        gap: var(--spacing-large);

        .text {
            font-size: var(--font-size-large);
        }

        .knowMoreLink {
            display: flex;
            gap: var(--spacing-small);
            color: var(--color-primary);
            font-size: var(--font-size-large);

            .icon {
                font-size: var(--font-size-extra-large);
            }
        }
    }

    .productImage {
        flex-shrink: 0;
        width: 20rem;
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;

        .productImage {
            width: 100%;
            height: 20rem;
            object-fit: contain;
            object-position: center center;
        }
    }
}